/* Carousel */
.carousel-button {
    /* центрировать кнопку */
    display: flex;
    /* по основной оси */
    align-items: center;
    /* по вспомогательной оси, вертикально : */
    justify-content: center;
    /* чтобы круглые кнопки не сжимались до эллипса после display-flex новому div "formats-container" */
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    /* Кнопочка кругленька */
    border-radius: 50%;
    /* исправить по-умолч что добавил браузер кнопке */
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    padding: 0;
    /* fill наследуется от кнопки - перенесено  в кнопку из иконки .carousel-arrow {}*/
    fill: var(--color-primary-dark);
    /* курсор ручкой над кнопкой */
    cursor: pointer;

    // .carousel-button:hover {передлатьпо БЭМ и перенести вверх внутрь здесь в .carousel-button:
    &:hover {
        /* наведение на кнопку круглую со стрелкой - фон темно-зел */
        background-color: var(--color-primary-dark);
        /* fill наследуется от кнопки - перенесено  в кнопку из иконки .carousel-button: hover .carousel-arrow{} */
        fill: var(--color-primary-light);
    }

    // .carousel-button.next {   //передлатьпо БЭМ и перенести вверх внутрь здесь в .carousel-button:
    &.next {
        /* повернуть круглую кнопку-стрелку справа НАПРАВО */
        transform: rotate(180deg);
    }
}

// // .carousel-button:hover {передлатьпо БЭМ и перенести вверх внутрь здесь в .carousel-button:
// &:hover {
//     /* наведение на кнопку круглую со стрелкой - фон темно-зел */
//     background-color: var(--color-primary-dark);
//     /* fill наследуется от кнопки - перенесено  в кнопку из иконки .carousel-button: hover .carousel-arrow{} */
//     fill: var(--color-primary-light);
// }

// // .carousel-button.next {   //передлатьпо БЭМ и перенести вверх внутрь здесь в .carousel-button:
// &.next {
//     /* повернуть круглую кнопку-стрелку справа НАПРАВО */
//     transform: rotate(180deg);
// }

/* ушло из-за наслеlования fill */
/* .carousel-button:hover .carousel-arrow { */
/* наведение на кнопку круглую со стрелкой - сама стрелка иконка svg внутри кнопки становится светлой */
/* fill здесь в иконке-стрелке наследуется от кнопки - переносим в кнопку-родителя.hover */
/* fill: var(--color-primary-light); */
/* } */

/* ушло из-за наслеlования fill */
/* .carousel-arrow { */
/* fill здесь в иконке-стрелке наследуется от кнопки - переносим в кнопку-родителя */
/* fill: var(--color-primary-dark); */
/* } */