/* Header */
.header {
    /* фон был нужен до позиционирвоания Header над hero-section слоем position */
    /* background-color: lightgrey; */
    /* распоагаем над hero-section слоем */
    position: absolute;
    /* к левому верхнему углу body.
   Для absolute
  Відлік значень top,  left, bottom і right 
  ведеться щодо найближчого предка з позиціонуванням,
    відмінного від static. Якщо такого предка не буде,
    то відлік від меж body*/
    top: 0;
    left: 0;
    /* Растянуть header по ширине на 100%  */
    width: 100%;
    padding-top: 32px;


    &__container {
        /* 2 блока (логотип+ меню   и   кнопка) стали горизонтально рядом
    но align-items=stretch по-умолч - поэтому растянута кнопка по вертикали на всю высоту строки - родительского элемента (заданную наверное составом меню) */
        display: flex;
        /* сделать кнопку не растянутой stretch (по-умолч), а центрированной по вертикали */
        align-items: center;
        /* для разделить nav и кнопку при уменьшении размера экрана */
        gap: 40px;
    }

    &__nav {
        /* для расположить горизонтально рядом лого и меню в nav навигации */
        display: flex;
        align-items: center;
        flex-grow: 1;
        /* для разделить в nav лого и меню ы при уменьшении размера экрана */
        gap: 40px;
    }

    &__menu {
        /* это класс <ul> */
        /* для меню расположить горизонтально */
        display: flex;
        /* для задать расстояние между элементами меню */
        gap: 64px;
        /* align-items: center; */
        /* Чтобы занял все свободно место в родительском элементе nav (класс  .header-nav) :
  часть займет лого, а все оставшееся - меню ul */
        flex-grow: 1;
        /* выравнять по гоавной горизонтальной оси */
        justify-content: center;
    }
}