
/* link */
/* меню списком header и footer */
.link {
    color: var(--color-primary-light);
    /* убрать значки кружков перед элементами списка */
    text-decoration: none;
    /* анимация переход цвета ссылки при hover */
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-brand-normal);
    /*нехорошо,  что при наведении на меню - двигаются-прыгают все элементы меню.
   Из-за увеличенного размера шрифта hover Обсуждать с разработчиком макета. 
   Лучше - убрать увеличение шрифта hover. Выделения цветом достаточно */
    /* font-weight: 600; */
}