.chef-card {
    display: flex;
    gap: 30px;


    // .chef-photo {
    &__photo {
        /* Обрезать фотки шефов Настя ВЛад слева снизу */
        border-radius: 4px 4px 4px 200px;
        /* box-shadow: -16px 16px 0 0 white, -16px 16px 0 2px var(--color-secondary-dark); */
        box-shadow: -16px 16px 0 0 var(--color-primary-light),
            -16px 16px 0 2px var(--color-secondary-dark);
    }

    // .chef-title {
    &__title {
        /* От Настя, Влад (h2) до параграфа одинаково по 16px: */
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 600;
        /* line-height: 1.5; не пишем. т.к. 60/40  =1.5  наследуются от body . НО - у меня эти 60px Figma не пишется!!! */
    }

    /* так недостаточно , остается последний параграф 18 по-умолч, а не 0 */
    /* .chef-text p:not(:last-child) {
  отступы между параграфами - 24,кроме посднего
  margin-bottom: 24px;
} */

    // .chef-text p {
    &__text p {
        /* отступы между параграфами - 24 */
        margin-bottom: 24px;
    }

    // .chef-text p:last-child {
    &__text p:last-child {
        /* отступ последнему параграфу - 0 */
        margin-bottom: 0;
    }
}