/* Contacts section */
.contact-section {
    padding-bottom: 96px;

    // .contact-container {
    &__container {
        display: flex;
        gap: 32px;
    }

    &__title {
        /* от h2 Приеднуйся...  до p Заповни форму */
        margin-bottom: 16px;
    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__button {
        /* центрировать кнопку на форме */
        /* кнопка по-умолч не является блоком. Она display-inlineblock (f12 видно) */
        /* сделать кнопку на офрме block, чтобы центрировать ее с пом. margin 0 auto */
        display: block;
        // margin: 0 auto;
        /* доб24 px снизу отступ от кнопки */
        // margin: 0 auto 24px;
        margin: 0 auto 16px;
    }

    &__map {
        /* чтобы карта не сжималась после flex родителю и gap */
        flex-shrink: 0;
        border-radius: 16px;
        /* убрать рамку вокруг map */
        border: none;
    }



}

// // .contact-container {
// &__container {
//     display: flex;
//     gap: 32px;
// }

// &__map {
//     /* чтобы карта не сжималась после flex родителю и gap */
//     flex-shrink: 0;
//     /* убрать рамку вокруг map */
//     border: none;
//     border-radius: 16px;
// }

// &__title {
//     /* от h2 Приеднуйся...  до p Заповни форму */
//     margin-bottom: 16px;
// }