/* Formats section */
//ошибка была в этом, поломалась секция на сайте
// .formats-container {
//     display: flex;
//     /* выставить кнопки по вспомог. оси вертикальной посредине */
//     align-items: center;
//     /* между кнопками и div из 3-х карточек с обеих сторон*/
//     gap: 32px;

.formats-section {

    // &__container {
    &__slider {
        display: flex;
        /* выставить кнопки по вспомог. оси вертикальной посредине */
        align-items: center;
        /* между кнопками и div из 3-х карточек с обеих сторон*/
        gap: 32px;
    }

    &__container {
        // После добавления внешнего swiper стала динамически расти ширина карточки.
        // Чтобы остановить- добавлен overflow hidden
        // overflow hidden перекрыли все,
        //     что выходит за размеры заданного нами размера
        overflow: hidden;
    }

    &__list {
        // отступ до pagination точек под слайдером swiper
        margin-bottom: 32px;
    }

    // &__button {
    //     //убрать круглые кнопки влево вправо слайдера для моб.версии
    //     //для моб.версии

    //     // не убираются кнопки на моб версии!!! ф12 - зачеркнута эта команда
    //     //git - Тоже не убимраются на моб. версии кнопки круглые
    //     display: none;
    //     // visibility: hidden;   //если не flex
    //     // display: none !important; // Добавляем !important для приоритета - так нигде нет кнопок круглых

    //     // @media screen and (min-width: 768px) {
    //     @media screen and (min-width: $bp-tablet) {
    //         display: flex;
    //     }
    // }

    // исправила пока так: 
    &__button {
        @media screen and (max-width: $bp-tablet) {
            display: none !important; // Добавляем !important для приоритета  - так работает . на моб - нет кнопоко, на остальны х -есть
            // display: none; // убрала !important  - не работает, есть кнопки везде
        }
    }




    // убираю - нет в уроке 19 этого на экране
    // //перенесен из _format-card.scss
    // // .formats-title {
    // &__title {
    //     /* от h2 Walrus...  до p */
    //     margin-bottom: 80px;
    // }

    //убрать класс formats-section__list после добавления внешней dll swiper
    // &__list {
    //     /* расположить карточки горизоантально */
    //     display: flex;
    //     flex-wrap: wrap;
    //     /*переносить карточки из расч. 100% / 3*/
    //     gap: 20px;
    //     /*на макете так*/
    // }

    // убрали при адаптиве. Вернул - ломается, 3 в ряд не делается без itemx
    // Ненадо, делали для примера 
    // Т.к. они всегда будут в 1 ряд. Это мы пробовали – чтобы показать,
    // если они добавляются,
    // как их правильно расположить по 3 в ряд


    //убрали при адаптиве, при замене на слайдер swiper из внешней dll https: //swiperjs.com 
    // // .format-item  надо {
    // &__item {
    //     /* 40 px это 2 gap по 20 px */
    //     flex-basis: calc((100% - 40px) / 3);
    // }
}



// // .formats-item {
// .format-item {
//     /* 40 px это 2 gap по 20 px */
//     flex-basis: calc((100% - 40px) / 3);
// }