/* -- Section --*/
/* класс стал ненужен, т.к. color наследуется от указанного в селекторе body
color там указан как основной для всей страницы.
Но оставим. надо будет выделять часть текста особым форматом с пом. span  */
/* .section-title {
  color: var(--color-primary-dark);
} */


.section {
    padding: 48px 0;

    &__title {
        //1. моб. версия
        font-size: 32px;
        line-height: 1.5; //1.5 = 32/48
        font-weight: 900;
        //перенесено вниз в десктоп-версию
        // font-size: 64px;
        // font-weight: 900;
        // /* 1.3 = 84px (line-height) / 64px (font-size) */
        // line-height: 1.3;


        @media screen and (min-width: $bp-tablet) {
            // перенесно сюда сверху, здесь теперь десктоп-версия
            font-size: 64px;
            // font-weight: 900;   //возьмется сверху с моб.версии, здест такой же
            /* 1.3 = 84px (line-height) / 64px (font-size) */
            line-height: 1.3;

        }


        &--centered {
            text-align: center;
        }
    }
}

// .section-title {
// .section__title {
// &__title {
//     font-size: 64px;
//     font-weight: 900;
//     /* 1.3 = 84px (line-height) / 64px (font-size) */
//     line-height: 1.3;
// }

// &__title перенесен внутрь .selection

/* если  рядом с заголовком h2 (его класс section-title) есть класс centered - центрировать его */
// .section-title.centered {
// &--centered {
//     text-align: center;
// }
// перенесен вверх  внутрь .section внутрь title


/* если внутри класса section-title (это общий класс заголовков h2) есть класс accent, то цвет задать всем*/
// .section-title .accent {
//     /* для span class="accent">шеф-кухарі расположить вертикально
//    под первой частью текста h2, как блоковый элемент */
//     display: block;
//     color: var(--color-brand-dark);
// }

// теперь это в _texts.scss  text-brand-dark  (в Index.html    accent ->text-brand-dark)